.header{
    border-radius: 20px;
}

.statistics{
    margin-top: 50px;
    display: block;
    overflow: scroll;
}

.statistics .calendarDropdown{
    padding: 10px 0;
    background-color: var(--navigationBg);
    border-radius: 20px;
    
    position: sticky;
    right: 0;
    left: 0;
    margin: 0 auto;
}
.statistics table{
    min-width: 590px;
}
.statistics table thead{
    display: table;
    width: 100%;
    table-layout: fixed;
    border-bottom: 1px solid rgba(255, 255, 255, 0.327);
}

.statistics table thead tr th{
    padding: 20px 0;
}

.statistics table tbody{
    display: block;
    width: 100%;
    max-height: 300px;
}

.statistics table tbody tr{
    display: table;
    width: 100%;
    table-layout: fixed;
}

.statistics table tr td{
    padding: 20px 0;
    text-align: center;
}

.statistics table tr img{
    height: 50px;
    width: 50px;
    border-radius: 100px;
    overflow: hidden;
    font-size: 0;
    background-color: white;
    display: block;
    margin: 0 auto;
}