.calendar{
    margin-top: 30px;
    overflow-y: scroll;
    padding: 0; 
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.calendar .title{
    background-color: var(--navigationBg);
    min-width: 690px;
}
.calendar .title p{
    background: var(--highLightedText);
    border-radius: 200px;
}
.calendar .title .yearDropdown li p{
    border-radius: 0;
}
.calendar .title,
.calendar .contents li{
    display: flex;
    justify-content: space-between;
    padding: 30px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.416);
}
.calendar .title .dropdown .contents{
    padding: 0;
}
.calendar .title div,
.calendar .contents li div{
    display: flex;
    align-items: center;
    text-align: center;
    gap: 30px;
    font-size: 20px;
    font-family: sans-serif;
}
.calendar .date .yearDropdown{
    border: 1px solid rgba(255, 255, 255, 0.416);
    border-radius: 3px;
}
.calendar .contents li{
    padding: 15px 30px;
    border-radius: 0;
    display: flex;
}
.calendar .title div div{
    gap: 5px !important;
}
.calendar .contents div p,
.calendar .title p,
.calendar .title div div{
    width: 110px;
    padding: 5px 0;
}
.statistics table tr td{
    padding: 20px 0;
    text-align: center;
}
.calendar .title div img{
    height: 50px;
    width: 50px;
    border-radius: 100px;
    overflow: hidden;
    font-size: 0;
    background-color: white;
    display: block;
    margin: 0 auto;
}   